/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
  } 
  
  :root {
	--nav-primary-bg: #2A2E33;
	--nav-secondary-bg: #28313E;
	--nav-accent: #8F96CA;
	--nav-active: #37B44A;
	--nav-text: #FFFFFF;
  }
  
  body {
	overflow-x: hidden;
  }
  

  .navbar {
	background: hsla(252, 40%, 29%, 1);

	background: linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);
	
	background: -moz-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);
	
	background: -webkit-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);
	
	width: 100vw;
	height: 6rem;
	margin-bottom: 0;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .navbar a {
	color: rgb(255, 250, 244);
	text-decoration: none;
  }
  .navbar .nav-link {
	padding: 0 5rem;
	list-style: none;
	display: flex;
	align-items: center;
  }
  .navbar .nav-link:hover {
	border-bottom: 0.3rem solid var(--nav-active);
  }
  .navbar_menu {
	display: flex;
  }
  .navbar_menu .nav-link {
	font-size: 1rem;
  }
  .navbar_menu .nav-link a {
	display: flex;
	flex-direction: column;
  }
  .navbar_menu .nav-link .fas {
	text-align: center;
	font-size: 2.3rem;
  }
  .navbar_logo {
	background: hsla(252, 40%, 29%, 1);

	background: linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

	position: fixed;
	top: 0;
	width: 100vw;
	height: 6rem;
	justify-content: center;
	align-items: center;
	font-size: 4.7rem;
	font-weight: 600;
  }
  .navbar_logo{
	color: bisque;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 6rem;
	justify-content: center;
	align-items: center;
	font-size: 4.7rem;
	font-weight: 600;
  }
  .navbar .hamburger {
	display: flex;
	flex-direction: column;
	color: var(--nav-text);
	font-size: 0.7rem;
	cursor: pointer;
  }
  .navbar .hamburger .fas {
	font-size: 1.3rem;
	text-align: center;
  }
  .navbar #toggle {
	display: none;
  }
  .navbar #toggle:checked + .navbar_sub-menu {
	display: block;
  }
  .navbar_sub-menu {
	display: none;
	position: fixed;
	background-color: var(--nav-secondary-bg);
	right: 0;
	bottom: 3rem;
	width: 35vw;
	padding: 1rem 3rem;
	border-top-left-radius: 1rem;
  }
  .navbar_sub-menu .nav-link {
	margin-top: 1rem;
  }

  @media  (min-width: 768px) {
	.navbar {
	  top: 0;
	  display: flex;
	  justify-content: space-around;
	}
	.navbar_logo {
	  width: auto;
	  position: relative;
	}
	.navbar .hamburger {
	  display: none;
	}
	.navbar_sub-menu {
	  display: flex;
	  position: relative;
	  width: auto;
	  bottom: inherit;
	  padding: inherit;
	  background-color: inherit;
	}
	.navbar_menu .nav-link a {
	  display: flex;
	  flex-direction: row;
	}
	.navbar_menu .nav-link .fas {
	  font-size: 0.9rem;
	}
	.navbar .nav-link {
	  font-size: 0.9rem;
	  padding: 0 !important;
	  display: flex;
	  margin-top: 0;
	  margin-left: 2rem;
	}
  } 
  .tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(3){border:none;}

div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}
 */
 #flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
    padding-right: 50px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}